{:deps
 {sci.nrepl/sci.nrepl
  {:git/sha "b75700da7797f9fc2b4ef1bef9df7230f9fd1e8c"
   :git/url "github.com:babashka/sci.nrepl.git"}}
 :tasks
 {run-repl-server (shell "bb" "server.clj")
  run-http-server
  (shell "./run-http-server.clj" ":dir" "." ":port" "8080")
  browse
  {:depends [http-server]
   :task
   (shell "xdg-open" "http://localhost:8080/")}
  browse-gh-page (shell "xdg-open" "")}}
